

h2 {
  
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  color: #31152B;
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;


}


h4 {
  
  font-family: 'Lato', sans-serif; 
  font-weight: 300;
  color: #e6b098;
  text-align:left;
  margin-top: -2em;



}



h5 {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-align:right; 
  color: #e6b098;



}

h6 {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align:left; 
  margin-left: 50px;



}

.title {
  margin-left: 50px;
  }

.subtitle {
  margin-left: 50px;
}

.nav > li {
  display: inline-block;

}
  
.nav {
  list-style:none;
  text-align: right;
  margin-top:-6.6em;
  margin-right: 50px; }

  
a {
  color: #e6b098;
  text-decoration: none;
}
a:hover {
  color: #31152B;
}



img.align-center {
      display: block;
      margin: 0px auto;
      
    }
img.medium {
      width: 250px;
      height: 250px
}

    figcaption {
      text-align:center;
    }




.content-footer {

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align:left; 
  margin-top: 0px;
  font-size: 1.3em;
    
}



  .social > li {
    display: inline-block;
    margin: auto;
    list-style: none;
    text-align: center;

}

img.small{
  width: 6px;
  padding: 5px;
}


