

h2 {
  
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  color: #31152B;
  text-align: left;
  letter-spacing: .05em;
  text-transform: uppercase;


}


h4 {
  
  font-family: 'Lato', sans-serif; 
  font-weight: 300;
  color: #e6b098;
  text-align:left;
  margin-top: -2em;



}



h5 {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  text-align:right; 
  color: #e6b098;



}

h6 {

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align:left; 
  margin-left: 50px;



}

.title {
  margin-left: 50px;
  }

.subtitle {
  margin-left: 50px;
}

.nav > li {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  list-style:none;
  text-align: right;
  padding: 45px 0px 0px 0px;
  margin-right: 50px; 
}
  
a {
  color: #e6b098;
  text-decoration: none;
}
a:hover {
  color: #31152B;
}
p {
  
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: left;
  margin-top: -1.1em;
  color: #31152b;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
}



div.content {
      display:inline-block;
      padding: 3px;

    }

    figcaption {
      text-align:center;
    }


.content-footer {

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align:left; 
  margin-top: px;
  font-size: 1.3em
    
}



  .social > li {
    display: inline-block;
    margin: auto;
    list-style: none;
    text-align: center;


}
img.align-right{
  float: right;
  margin-left: 10px;
  margin-top: -1em;
  margin-bottom: 1em;

}
img.small{
  width: 6px;
  padding: 5px
}
img.align-center{
  display: block;
  margin: 0px auto;

}